@import "tailwindcss";
@source not "../../public";

/* Pour avoir les valeurs des paramètres oklch, il faut aller chercher le code HSL de la couleur */

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-lapis: oklch(0.35 0.42 211);
  --text-7xl: 5rem;
}

[role=button], button {
    cursor: pointer;
}
[role=button]:disabled, button:disabled {
    cursor: not-allowed;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none;    /* Firefox */
  }
}

body:has(dialog:open) {
  overflow: hidden;
  /* position: fixed; */
}
