@import "tailwindcss";
@source not "../../public";

@custom-variant dark (&:where(.dark, .dark *));


/* Pour avoir les valeurs des paramètres oklch, il faut aller chercher le code HSL de la couleur */

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-lapis: oklch(0.35 0.42 211);
  --text-7xl: 5rem;
}

[role=button], button {
    cursor: pointer;
}
[role=button]:disabled, button:disabled {
    cursor: not-allowed;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none;    /* Firefox */
  }
}

@layer base {
  .scrollbar-dark {
    /* Chrome/Safari */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded-full bg-neutral-400;
    }
    /* Dark mode */
    .dark &::-webkit-scrollbar-track {
      @apply bg-neutral-800;
    }
    .dark &::-webkit-scrollbar-thumb {
      @apply bg-neutral-200;
    }
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: theme('colors.neutral.400') transparent;
  }
  .dark .scrollbar-dark {
    scrollbar-color: theme('colors.neutral.200') theme('colors.neutral.800');
  }
}


body:has(dialog:open) {
  overflow: hidden;
  /* position: fixed; */
}
