{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<div {{ vue_component('Dashboard', { 'user_name': app.user ? app.user.username : null, 'is_user': app.user is not null } ) }}></div>
{% endblock %}
